.Rproj.user
.Rhistory
.Ruserdata
._*
example
input_files/input_vcf_data
input_files/public_data/1000G_control_haplotypes/1000G_haplotypes_by_variant
input_files/public_data/1000G_control_haplotypes/1000G_haplotypes_original
input_files/public_data/1000G_plink
input_files/temp
