profiles {
    standard {

        executor {
            name = 'slurm'
            queueSize = 200
            cpus = 1
	    process.queue = 'super'
            pollInterval = '10 s'
            queueStatInterval = '10 s'
            submitRateLimit = 10
            exitReadTimeout = '1 min'
        } }

        }
